* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: auto auto auto auto auto;
    grid-auto-rows: 500px;
    margin: 0;
}

#header {
    grid-column-start:1;
    grid-column-end: -1;
    height: 100px;
    padding-left: 2rem;
    background-color: rgb(149, 146, 157);
    font-size: 1.5rem;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

#sidebar {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    padding: 2em;
    background-color: rgb(221, 221, 221);
    min-height: 100vh;
}

#defaultProjects {
    display: flex;
    flex-direction: column;
}

#completedList {
    grid-column-start: 2;   
}

#taskList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: .5em;
    padding: 2em;
}

.task {
    border: 1px solid darkgray;
    border-radius: 10px;
    padding: .5em;
    background-color:rgb(208, 234, 250);
}